<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Server Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/index.css">
  <script type="text/javascript" src="/static/start_server.js" defer></script>
</head>
<body>
  <!-- TODO better messages formatting -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for msg in messages %}
    <li>{{ msg }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
  <!-- TODO display overall node usage -->

  {% for server in server_list %}
  <div class="container main" id="{{ server.id }}">
    <div class="section">
      <h1>{{ server.name }}</h1>
      <p><em>{{ server.get_usage_string() }}</em></p>
    </div>
    <div class="section">
      <div class="container">
        <div class="section" style="max-width: 70px;">
          <!-- TODO set ids on spans -->
          <span id="{{ server.id }}_icon_running" hidden>
            <i class="material-icons" style="color: limegreen;" title="running">cloud_queue</i>
          </span>  
          <span id="{{ server.id }}_icon_offline">
            <i class="material-icons" style="color: gray;" title="offline">cloud_off</i>
          </span>
          <div id="{{ server.id }}_icon_loading" class="loader" hidden></div>
        </div>
        <div class="section">
          <!-- TODO handle starting case ? -->
          <button id="{{ server.id }}_start_button" name="start" value="{{ server.id }}" onClick="start_server(this)">START</button>
          <button id="{{ server.id }}_disabled_button" class="disabled" title="Already Running" disabled hidden>START</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>
</html>
